table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  background: #ea907a;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

table td {
  padding: 10px;
}

table tbody {
  text-align: left;
}

table tbody tr:hover {
  background: #f4f6ff;
}

button {
  margin: 20px;
  padding: 20px 30px;
  background: #4f8a8b;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
